footer{
  background-color: #222;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 5rem;
}
footer h5{
  font-size: 1rem;
  color: white;
  margin: 0.1rem;
  font-weight: 400;
  text-transform: none;
  line-height: 1.25;
}
.comfy{
  color: #ab7a5f;
}